body {
  font-family: "Neucha", cursive;
  display: flex;
  flex-direction: column;
}

#visitenkarte {
  display: flex;
}
#visitenkarte #front {
  position: relative;
  height: 550px;
  width: 850px;
  display: flex;
  justify-content: center;
  background-color: #D21146;
  z-index: -2;
}
#visitenkarte #front .title {
  position: absolute;
  bottom: 40px;
  color: #E2F3F4;
  font-size: 48px;
  text-transform: uppercase;
}
#visitenkarte #back {
  position: relative;
  background-color: #E2F3F4;
  height: 550px;
  width: 850px;
  z-index: -2;
}
#visitenkarte #back .socials {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 40px;
  margin-left: 30px;
  color: #D21146;
}
#visitenkarte #back .socials .link {
  font-size: 30px;
  text-decoration: none;
  color: #D21146;
  display: flex;
}
#visitenkarte #back .socials .link > * {
  margin: 5px;
}
#visitenkarte .head {
  height: 550px;
  width: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#visitenkarte .head .face {
  display: flex;
  justify-content: center;
  align-items: center;
}
#visitenkarte .head .face .eyes {
  position: absolute;
  top: 150px;
  display: flex;
}
#visitenkarte .head .face .eyes .eye {
  background-color: #E2F3F4;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 11px;
}
#visitenkarte .head .face #upper-face {
  background-color: #616161;
  position: absolute;
  top: 95px;
  width: 280px;
  height: 236px;
  border-radius: 50%;
  z-index: -1;
}
#visitenkarte .head .face #lower-face {
  position: absolute;
  top: 170px;
  background-color: #616161;
  width: 280px;
  height: 250px;
  border-radius: 50px;
  z-index: -1;
}
#visitenkarte .head .mask {
  position: absolute;
  top: 275px;
}
#visitenkarte .head .mask .front {
  background-color: #E2F3F4;
  z-index: 99;
  width: 236px;
  height: 120px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#visitenkarte .head .mask .front .dec {
  z-index: 99;
  margin: 5px;
  height: 10px;
  width: 100px;
  background-color: #616161;
}
#visitenkarte .head .mask .front .small {
  width: 80px;
}
#visitenkarte .head .mask .strap {
  width: 145px;
  height: 25px;
  background-color: #E2F3F4;
}
#visitenkarte .head .mask .top-left {
  position: absolute;
  transform: rotate(45deg);
  border-radius: 0 0 0 50px;
  left: -50px;
  top: -10px;
}
#visitenkarte .head .mask .bottom-right {
  position: absolute;
  left: 120px;
  top: 45px;
  transform: rotate(-5deg);
  border-radius: 0 0 15px 0;
}
#visitenkarte .head .mask .top-right {
  position: absolute;
  transform: rotate(-45deg);
  border-radius: 0 0 50px 0;
  left: 140px;
  top: -10px;
}
#visitenkarte .head .mask .bottom-left {
  position: absolute;
  left: -30px;
  top: 45px;
  transform: rotate(5deg);
  border-radius: 0 0 0 15px;
}
#visitenkarte .head .headphones {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 40px;
}
#visitenkarte .head .headphones .pad {
  position: absolute;
  background-color: #616161;
  border-radius: 25px;
  width: 40px;
  height: 144px;
  top: 120px;
}
#visitenkarte .head .headphones .left {
  left: -20px;
}
#visitenkarte .head .headphones .right {
  right: -20px;
}
#visitenkarte .head .headphones .connector {
  width: 355px;
  height: 130px;
  overflow: hidden;
  display: flex;
}
#visitenkarte .head .headphones .connector .cable {
  border-radius: 50%;
  width: 355px;
  height: 260px;
  border: 10px solid #616161;
}

/*# sourceMappingURL=style.css.map */
